body{background-color:#6F8C04;color:#81D662;font-family: 'Comfortaa', cursive;
	text-align: justify-all;}
.no-float{float: none;}
.margin-top{margin-top: 30px;}
.margin-top-2{margin-top: 2.3em;}
.margin-top-3{margin-top: 1em;}
.margin-bottom{margin-bottom: 40px;}
.no-list{margin: 0; padding: 0;}
.no-list li{list-style-type: none;}
.background{background-color:#C6F01A;}
.inline-block{float: none; display: inline-block; margin: 10px;}
.margin{margin: 5px}
.padding{padding: 5px 10px}
.vertical-center{vertical-align: middle;}
.opacity{opacity: 0.6;}
.justify{margin-right: 1em; margin-left: 5px;}
.color{color: #81D662;}
.delay{animation-delay: 1s;}
h1{color: #C6F01A;font-family: 'Fredericka the Great', cursive;}
h2{color: #6CF697;font-family: 'Raleway Dots', cursive;}
h3{color: #BBCF03;font-family: 'Cinzel', serif;}
h4{font-weight: 600; margin-top: 1em;text-align: center;}
a{color: #000000;font-family: 'Comfortaa', cursive;transition: color .5s;}
a:hover{color: #0000FF;}
.another-color{color: #53C9A7}